body {
    margin: 0;
}

.top-bar {
   background: #333;
 }

@media screen and (min-width: 768px) {
    .top-bar {
      display: block;
    }
}
  
.icon-menu { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding-left: 1em;
} 

.icon-bar {
    background: #fff;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    position: relative;
} 
  
.icon-bar:after,
.icon-bar:before {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    top: -0.5em;
} 

.icon-bar:after {
    top: 0.5em;
}

.main-menu  {
    background-color: #333;
    padding-left: 0;
    margin-top: 0;  
    margin-left: 0;
    list-style: none;
    position: relative;
    left: -100%;
    transition: all 0.3s;
} 

.main-menu__link{ 
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 768px) { 
    .main-menu__link{
    display: flex;
    justify-content: space-evenly;
    left: 0;
  }
}

.main-menu.show { 
    left: 0;
}  

.main-menu__item {  
    padding: 1em;
    border-bottom: 1px solid #fff;
} 

@media screen and (min-width: 768px) { 
  .main-menu__link {
      border-bottom: none;
      text-transform: uppercase;
  }
  .main-menu__link:hover {
      background: grey;
  }
  .main-menu:hover main-menu__link {
      color: #000;
  }
} 

/*  POR QUÉ NO SE APLICA ESTA CLASE */
.link {
  color: red;
}